<!DOCTYPE html>
<html lang="en">
<head>
   <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'CONTACT'}) %>


  <div id="contact_list">
    <header><em>Meet The Team</em></header>
      <ul>
        <li>Stephen Kempisty</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Email: aleksanyanalek@gmail.com</li><br>
        <li>Kyle Firstenberg</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Email: aleksanyanalek@gmail.com</li><br>
        <li>Wen Jen</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Email: aleksanyanalek@gmail.com</li><br>
        <li>Alex Aleksanyan</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Email: aleksanyanalek@gmail.com</li>
      </ul>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
