<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'ROOT'}) %>


  <div id="contact_list">
    <header><em>Meet The Team</em></header>
      <ul>
        <li><img src = "" alt="" />Image</li><br>
        <li>Stephen Kempisty</li><br>
        <li>Email: ...</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Kyle Firstenberg</li><br>
        <li>Email: ...</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Wen Jen</li><br>
        <li>Email: ...</li><br>
        <li><img src = "" alt="" />Image</li><br>
        <li>Alex Aleksanyan</li><br>
        <li>Email: ...</li>
      </ul>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
