<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <%- include('../partials/head') %>
</head>
  <main>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: ''}) %>
   <div class="jumbotron">
     <div class="content">
        A photo can speak a thousand words; it can spark memories of an adventure,
        a moment in time that you want to remember. <br>
        But can you remember what street you were on when you took that photo? <br>
        Can you remember the route you took? <br><br>
        When you wander, we're there to help you remember. <br><br>
     </div>
     <div class="feature">
     <img src="../images/wander_welcome.png" class="img-responsive" alt="Image">
     </div>
     <div class= content>
      <br><br>
       Wander was designed by people who have a love for culture and travel.
       It is an app that will allow you to capture your memories and save them
       to an album that not only shows your photos, but will show the route you
       took by embedding the images into a map view. This will allow you to see
       the route you took and each place you took a photo. <br><br>
       Log in with your flicker account and build your first album.
       <br><br>
     </div>
   </div>
 <%- include('../partials/footer') %>
 <%- include('../partials/scripts') %>
</body>
  </main>
</html>
