
<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 <%- include('../partials/head') %>
</head>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'ROOT'}) %>

 <main>
 <p>
  A photo can speak a thousand words, it sparks memories of an adventure,
  a moment in time that you want to remember. <br>
  But can you remember what street you were on when you took that photo? <br>
  Can you remember the route you took? <br>
  When you wander, we are there to help you remember.
 </p>
  <img id = "feature" src="./images/wander_welcome.png" />
   <ul>
     <li><a href="/users">Visit the user list.</a></li>
   </ul>
 <p>
  Wander was designed by people who have a love for culture and travel. <br>
  To often you embark on an adventure and meet incredible people, see amazing sights,
  eat great food and pause where ever you can to capture that memory with a photo. <br>
  When you revisit that trip by scrolling through your photos, or making a photo album,
  often you come across a shot of that old man you had a conversation with, remember
  it was in Tokyo but where exactly was that? <br>
  It’s hard to remember because half the time you didn’t know where you were to begin with. <br>
  Wander will take the photographs of your journey and and map out where they were taken.
  Wander will then place them by location over a google maps image of the area and create
  a route based on your photos, so you will know exactly where the photos were taken and
  the route you took. <br>
  No longer will  you forget where you were when you took that amazing shot. <br>
  Welcome to the new way of capturing your memories and sharing them with the world.
 </p>
 </main>
 <%- include('../partials/footer') %>

 <%- include('../partials/scripts') %>
</body>
</html>
