<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 <%- include('../partials/head', {pageType: "bio"}) %>
</head>
<body>
 <%- include('../partials/navbar') %>

 <% if(user) { %>
  <%- include('../partials/header', {subHeading: 'ADD BIO'}) %>
  <form id="bio" method="POST" action="/users?_method=PUT">
    <label>Bio:</label>
    <input class="input" type="textarea" name="bio" placeholder="Tell us about yourself" required />

    <br />
    <br />
    <input id="edit_btn" type="submit" value="submit" />
  </form>
  <a href="/"><button id="skip">Skip</button></a>
  <% } %>
 <%- include('../partials/footer') %>
 <%- include('../partials/scripts') %>
</body>
</html>
