<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 <%- include('../partials/head') %>
</head>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'EDIT PROFILE'}) %>
<p>My Trips</p>
 <main>
  <img id = "feature" src="/images/wander_welcome.png" />
   <ul>
     <li><a href="/users">Visit the user list.</a></li>
   </ul>
 </main>
 <%- include('../partials/footer') %>
 <%- include('../partials/scripts') %>
</body>
</html>
