<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css">
 <%- include('../partials/head') %>
</head>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'TRIPS'}) %>
<<<<<<< HEAD:views/trips/index.ejs
 <main>

  <img src="../images/wander_welcome.png" class="img-responsive" alt="Image"/>

 </main>
=======


>>>>>>> bc3ee683e600efe91fbc1ebd7977a4a8321eca83:views/users/trips.ejs
 <%- include('../partials/footer') %>
 <%- include('../partials/scripts') %>
</body>
</html>
