<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
 <%- include('../partials/head') %>
</head>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'TRIPS'}) %>
 <main>




 </main>
 <%- include('../partials/footer') %>
 <%- include('../partials/scripts') %>
</body>
</html>
