<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css">
 <%- include('../partials/head') %>
 <%- include('../partials/scripts') %>

</head>
<body>
 <%- include('../partials/navbar') %>
 <%- include('../partials/header', {subHeading: 'TRIP show'}) %>
<main>

  <% photoUrls.forEach(function(url) { %>
    <img src="<%= url %>">
  <% }); %>
    <div>
      <div id="googleMap" style="width:500px;height:500px;"></div>
    </div>

</main>
 <%- include('../partials/footer') %>
</body>
</html>
